*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body{
    font-size: 13px;
    overflow-x: hidden;
}
/* GENERALES */
section, .containerFlex, figure div, #formacion div.containerGrid div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerGrid{
    display: grid;
    place-items: center;
    gap: 3vw;
}
main, section{
    gap: 5vh;
}
h2{
    text-align: center;
    font-size: 1.8rem;
}
section{
    margin-bottom: 5vh;
}
section > div{
    width: 90%;
}
#about > div, #formacion div.containerGrid > div{
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 20px;
}
a.button{
    border: 1px solid black;
    border-radius: 5px;
    padding: .5rem;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
.iconImg{
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}
.iconImg img{
    width: 50px;
}
#formacion > div, #proyectos > div{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
/*HEADER*/
header{
    position: sticky;
    top: 0;
    background-color: #fff;
    height: 10vh;
    z-index: 10;
}
#menu{
    position: absolute;
    font-size: 2.5rem;
    top: 10%;
    right: 5%;
}
#close{
    color: white;
    position: absolute;
    top: 1.5%;
    right: 5%;
    font-size: 2.5rem;
}
nav{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 11;
    right: -120%;
    transition: transform .5s;
}
nav ul{
    gap: 5vh;
    font-size: 1.5rem;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #fff;
}
/*MAIN*/
main{
    height: 90vh;
}
main p{
    font-size: 1rem;
}
/* ABOUT */
#about img{
    clip-path: circle(50% at 50% 50%);
    width: 50%;
}
#about p{
    font-size: .9rem;
}
#about div.containerGrid{
    gap: 5vh;
}
/* SERVICES */
#services > img{
    width: 90%;
}
/* FORMACION */
#formacion h4{
    font-size: 1.1rem;
    text-align: center;
}
#formacion div.containerGrid div{
    gap: 1.5vw;
}
#formacion small{
    font-size: .8rem;
}
#experiencia ul{
    font-size: .9rem;
    margin-top: 5%;
}
#becas p{
    font-size: .9rem;
    margin: 5% 0;
}
#becas img{
    width: 95%;
    border-radius: 10px;
}
/* PROYECTOS */
#proyects{
    width: 100%;
}
figure{
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
figure img{
    width: 100%;
    padding: 5%;
    border-radius: 30px;
    transition: padding .5s;
}
figure > div{
    position: absolute;
    background-color: rgba(55, 55, 55, 0.534);
    width: 100%;
    height: 100%;
    color: #fff;
    top: 100%;
    transition: transform .5s;
    gap: 10%;
    border-radius: 30px;
}
figure div.containerGrid{
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
figure h4{
    font-weight: 900;
    font-size: 1.2rem;
}
figure small{
    width: 80%;
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
}
figure a.button{
    font-size: .8rem;
    width: 80%;
    text-align: center;
}
figure i{
    vertical-align: baseline;
    font-size: 1rem;
    margin-right: .2rem;
}
/* ANIMACIONES */
nav.visible{
    transform: translateX(-120%);
}
figure div.visible{
    transform: translateY(-100%); 
}
div.visible ~ img {
    padding: 0px;
}
@media (min-width:1279px) {
    main, section{
        padding: 0 8rem;
    }
    figure:hover > div{
        transform: translateY(-100%);
    }
    figure:hover > img{
        padding: 0;
    }
}
@media (min-width:481px) {
    main, section{
        padding: 0 3rem;
    }
}