:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

img {
    width: 50vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    line-height: 1.2;
    position: relative;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

section {
    /* margin-bottom: 1rem; */
    position: relative;
}

/* section > h3{
    position: absolute;
} */
/*Sección Menu*/
section.menu {
    /* width: 100%; */
    position: sticky;
    top: 0;
    background-color: var(--cor-de-fundo);
    padding: .7rem;
    z-index: 10;
}

section.menu img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-bottom: .2rem;
}

section.menu nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__nombre {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.menu ul {
    position: fixed;
    background-color: var(--cor-de-fundo);
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}

section.menu ul img {
    position: absolute;
    top: .7rem;
    right: 1.8rem;
}

#menu:target {
    display: flex;
}

/* Seccion Hero */
section.hero {
    height: calc(100vh - 53px);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    padding: 1rem;
}

.hero__container {
    /* margin-bottom: 5rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.hero__bio {
    width: 25ch;
    text-align: center;
}

.hero__bio--info {
    text-align: center;
}

.hero__network {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero__perfil {
    border-radius: 50%;
    margin-bottom: 3rem;
}

/*Sección About*/

section.about {
    /* height: 100vh; */
    padding: 1.5rem;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #cee2f3;
}

.about__parrafo {
    text-align: justify;
}

h3.about__titulo {
    font-size: 1.8rem;
}

/* Section skills */
section.skills {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f4f8fc;
    text-align: center;
}

h3.skills__titulo {
    font-size: 1.8rem;
}

div.skills__container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    row-gap: 2rem;
}

div.skills__box {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

li.skills__img img {
    width: 100%;
}

.progress_container {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    /* border: 1px solid black; */
    height: 6rem;
    transition: height .5s ease;
    align-items: center;
    overflow: hidden;
}

.progress_porcent {
    width: 100%;
    display: flex;
    height: 5rem;
    flex-flow: column wrap;
    align-items: center;
}

.porcent__box {
    width: 40%;
    font-size: .9rem;
    display: flex;
    gap: 1rem;
    align-items: baseline;
    height: 2rem;
}

.progress_bar {
    width: 90%;
    height: 10px;
    background-color: #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.progress {
    width: 0%;
    height: 100%;
    transition: width 1s ease;
}

.color__box {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.skills__box img {
    width: 70%;
}

/*Sección Hobbies*/
section.hobbies {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(244, 248, 252);
    text-align: center;
}

.hobbies__titulo {
    font-size: 1.8rem;
}

.hobbies__container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    row-gap: 2rem;
}

.hobbies__box {
    background-color: #cee2f3;
    width: 35%;
    border: 1px solid black;
}

.hobbies__img img {
    width: 70%;
}

/* Experiencia Académica*/
section.academico {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(244, 248, 252);
    text-align: center;
}

.academico__titulo {
    font-size: 1.8rem;
}

.academico__cursos {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.academico__box {
    width: 100%;
    padding: 1rem;
}

.academico__box img {
    width: 100%;
}

.academico__box h4 {
    font-size: 1.2rem;
    margin: 1rem;
}

/* experiencia*/

section.experiencia {
    padding: .7rem;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(244, 248, 252);
    text-align: center;
}

.experiencia__titulo {
    font-size: 1.8rem;
}

.experiencia__container {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    justify-content: space-around;
    row-gap: 2rem;
}

.experiencia__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.experiencia__imagenes {
    position: relative;
    width: 100%;
    height: 80vw;
}

.experiencia__imagenes img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.experiencia__imgphone {
    animation: cambioOpacidadPhone 16s infinite;
    height: 100%;
    width: auto;
}
.experiencia__img{
    width: 100%;
    animation: cambioOpacidad 16s infinite;
}

@keyframes cambioOpacidad {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cambioOpacidadPhone {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.experiencia__info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.experiencia__descripcion{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .5rem;
}
.experiencia__descripcion button{
    padding: .7rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.422);
    background-color: #cee2f3;
}



/*Contacto*/
section.formcontacto {
    padding-top: 60px;
    padding: 60px 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: #cee2f3;
}

.formcontacto__titulo {
    font-size: 1.8rem;
}

.formcontacto__subtitulo {
    font-size: 1rem;
}

.formcontacto__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.349);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.292);
}

.formcontacto :where(input, textarea) {
    padding: .8rem .5rem;
    border: none;
    border-radius: 10px;
    border: 1px solid #0000005b;
}

.error {
    border-color: #cc0033;
}

.customError {
    font-size: 15px;
    align-self: flex-start;
    color: #cc0033;
    margin: .3rem 0 1rem 0;
}

.formcontacto__boton {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #b0d8fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.272);
}

/*footeer*/

section.footer {
    text-align: center;
    padding: 2rem 0 3rem 0;
}

/*Tablet*/
@media (width > 425px) {

    /* Menú */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*computadora*/
@media (width > 768px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}