
/*Contacto*/
section.formcontacto {
    margin-top: 60px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    background-color: #cee2f3;
}

.formcontacto__titulo {
    font-size: 1.8rem;
}

.formcontacto__subtitulo {
    font-size: 1rem;
}

.formcontacto__form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 1rem;
    border-radius: 5px;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.349);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.292);
}

.formcontacto :where(input, textarea) {
    padding: .8rem .5rem;
    border: none;
    border-radius: 10px;
    border: 1px solid #0000005b;
}

.error {
    border-color: #cc0033;
}

.customError {
    font-size: 15px;
    align-self: flex-start;
    color: #cc0033;
    margin: .3rem 0 1rem 0;
}

.formcontacto__boton {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #b0d8fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.272);
}

/*footeer*/

section.footer {
    text-align: center;
    padding: 2rem 0 3rem 0;
}
