/*Mobile - Proyectos*/
.proyectos {
    min-height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}
section.proyectos .container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
section.proyectos .container>h1{
    align-self: flex-start;
    font-size: 2.5rem;
}
.tecnologias__list {
    width: 100%;
    max-width: 400px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    position: relative;
    margin-top: 2rem;
}
.tecnologias__list::before{
    content: "Tecnologias usadas:";
    position: absolute;
    top: -2rem;
    font-size: 12px;
}
.tecnologias__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tecnologias__item img{
    width: 60px;
}
.tecnologias__item img:hover{
    transform: scale(90%);
    filter: brightness(80%);
    transition: all .2s ease;
}
.tecnologias__item p{
    font-size: 12px;
}
.botones {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-around;
    gap: 1rem;
}
.botones a{
    padding: 1rem;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border-radius: 20px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.588);
    transition: opacity .2s ease, transform .2s ease;
}
.botones a:last-child {
    background-color: var(--color-naranja);
    color: var(--color-blanco);
}
.botones a:hover{
    transform: scale(90%);
    opacity: 80%;
}
.pantallaMuestra {
    width: 90%;
    max-width: 500px;
    height: auto;
}
.fondo__azul {
    background-color: var(--color-azul);
    color: var(--color-blanco);
}
.fondo__azul .botones a:first-child {
    background-color: var(--color-blanco);
    color: var(--color-azul);
}
@media (width > 465px) {
    .proyectos {
        padding: 2rem;
    }
}
@media (width > 765px) {
    .pantallaMuestra{
        width: 50%;
        max-width: 400px;
    }
    section.proyectos .container {
        max-width: 500px;
    }
    .proyectos {
        flex-direction: row;
    }
    .fondo__azul {
        flex-direction: row-reverse;
    }
}