/*Mobile - Sobre mi*/
main.sobremi {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #000;
}
.sobremi__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}
.sobremi__titulo {
    font-size: 2.5rem;
}
.sobremi__cv {
    padding: .7rem 2rem;
    border-radius: 18px;
    background-color: var(--color-naranja);
    color: var(--color-blanco);
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.426);
}
.sobremi__cv:hover {
    box-shadow: none;
}
/*Tablet Vertical - Sobre mi*/
@media (width > 540px) {
    main.sobremi {
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
    }
    .sobremi__container {
        width: 60vw;
        max-width: 500px;
    }
}
/*PC - Sobre mi*/
@media (width > 768px) {
    main.sobremi {
        padding-top: 4.5rem;
    }
}
/*------------------------------------------------------------------*/
/*Mobile - Article Sobre mi*/
.article__sobremi {
    align-self: center;
    background-color: var(--color-azul);
    position: relative;
    width: 80vw;
    height: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: -4.5rem;
    z-index: 1;
}
.article__sobremi::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 8%;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: var(--color-blanco);
}
.article__imagen--sobremi {
    position: relative;
    z-index: 1;
    width: 100%;
}
.article__container--sobremi {
    background-color: #000;
    color: var(--color-blanco);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;
}
.article__info--sobremi {
    font-size: 10px;
}
/*Tablet Vertical - Article Sobre mi*/
@media (width > 540px) {
    .article__sobremi {
        width: 32vw;
        height: 40vw;
        max-width: 240px;
        max-height: 300px;
        bottom: -5rem;
    }
    .article__sobremi::before {
        width: 15vw;
        max-width: 150px;
        height: 15vw;
        max-height: 150px;
    }
}